<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.buildingCompany.persistence.dao.ICrewRepository">
    <select id="findDeptById" parameterType="java.lang.Long" resultType="Department">
        SELECT *
        FROM department_details
        WHERE dept_id = #{id};
    </select>
</mapper>